/*
* @页面重置通用css
*/
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
ul,
dl {
  list-style: none;
}
i,
em {
  font-style: normal;
}
[v-cloak] {
  display: none!important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.none {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.hide {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  text-align: left;
  color: #000;
  background-color: #fff;
  position: relative;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0px;
}
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
a:hover {
  text-decoration: none;
  overflow: hidden;
}
ul {
  list-style-type: none;
  border: 0px;
}
li {
  list-style: none outside none;
}
h1,
em,
th {
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
div {
  display: block;
}
.L {
  float: left;
}
.R {
  float: right;
}
.w {
  width: 100%;
  height: auto;
  float: left;
}
.hide {
  display: none;
}
.hedd {
  visibility: hidden;
}
